.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  padding: 20px 15px 15px 15px;
  background: #f0f2f5;
}

.notification-item {
  width: 100%;
  text-align: start;
  background-color: white;
  padding: 1rem 1.5rem;
  color: black;
  transition: background-color 0.3s ease, transform 0.2s ease;
  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;

    strong {
      color: black;
    }
  }
}
.btn-clear{
    position: sticky;
    bottom: 0px;
}
@media (max-width: 770px){
  .btn-clear{
    position: sticky;
    bottom: 50px;
}
}